{% extends "base0.html" %}

{% block content %}
</br>
<div class="container-fluid text-left" style="background-color:#f5fffa">
  <div class="row">
    <div class="col">
     <p><b>Крокоди́л Ге́на</b> — персонаж книги Эдуарда Успенского «Крокодил Гена и его друзья» (1966)     и её продолжений. На экране впервые появился в мультипликационном фильме режиссёра Романа         Качанова  «Крокодил Гена», созданном по этой книге в 1969 году. Впоследствии вышли ещё три     мультфильма  Романа Качанова с крокодилом Геной и его друзьями.
    </p>
    <p>Лучший друг и товарищ Чебурашки.</p>
    </div>
    <div class="col">
    <img src="/static/img/marka.jpg">
    </div>
  </row>
  <div class="row">
    <div class="col">
    </br>
    <p><b>Чебура́шка</b> — персонаж, придуманный писателем Эдуардом Успенским в 1966 году как один из      главных героев книги «Крокодил Гена и его друзья» и её продолжений. После выхода мультфильма         Романа Качанова «Крокодил Гена», снятого по этой книге в 1969 году, персонаж стал широко             известен.
    </p>
    <p>В первоначальном варианте книги внешне представлял собой неуклюжее существо с большими (по       другим данным — большими продолговатыми) ушами и коричневой шерстью, ходящее на задних лапах. В      1968 году художник-скульптор театра марионеток в Ленинграде Маргарита Скрипова-Ясинская создала      для спектаклей куклу с большими ушами.
    </p>
    <p>Известный сегодня добродушный образ Чебурашки с большими ушами и большими глазами впервые     появился в мультфильме «Крокодил Гена» в 1969 году и был создан при непосредственном участии     художника-постановщика фильма Леонида Шварцмана.</p>
    </div>
    <div class="col">
       </br></br></br>
       <img src="/static/img/Tchebur.jpg">
    </div>
  </div>
</div>        
{% endblock %}