{% extends "base0.html" %}

{% block content %}
</br>
<div class="container-fluid" style="background-color:#f5fffa">
  <div class="row">   
    <div class="col-auto">
       </br>
       <ul>
         <li><a class="navbar-brand" href="/about"><h2>О них</h2></a> </li>      
         <li><a class="navbar-brand" href="/galery"><h2>Галерея</h2></a> </li>
         <li><a class="navbar-brand" href="/blog"><h2>Блог</h2></a> </li>
       </ul>      
     </div>
     <div class="col-fluid">
       <img src="/static/img/p2.jpg"
     </div>
   </div>        
</div>
{% endblock %}